.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars
ssh/
*.pem
*.pub
!terraform.tfvars.example
.DS_Store
*.hclic